@keyframes catch {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(0, 3.5rem);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes rainbow {
  0% {
    background-position: 1% 80%;
  }

  50% {
    background-position: 99% 20%;
  }

  100% {
    background-position: 1% 80%;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
