.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  border-radius: 0;
  text-transform: uppercase;
  font-family: $font-primary;
  font-weight: 500;

  @include easeOut;
}

.btn-small {
}

.btn-medium {
}

.btn-large {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.333333;
}

.btn-outline {
  border: 1px solid $primary;
  color: $primary;
  background-color: transparent;
}
.btn-outline:hover,
.btn-outline:focus {
  outline: 0;
  color: set-text-color($primary);
  background-color: $primary;
}

.btn-filled {
}

.selectable:hover {
  color: $primary;
  @include easeOut;
}
