@charset 'utf-8';

// Set your brand colors
$dark-purple: #301cc9;
$danger: #dc3545;
$off-white: #f6f6f6;
$woolwhite: #c0c0c0;
// $foot-grey: #272727;
$foot-grey: #373d3f;

$primary: #23ff3e;	// Main Secondary color */
$primary-lightest: #7ffe8f;
$primary-lighter: #4fff65;
$primary-darker: #00ff1f;
$primary-darkest: #00f71e;

$secondary: #26edff;	// Main Secondary color */
$secondary-lightest: #81f3fe;
$secondary-lighter: #52f0ff;
$secondary-darker: #03e9ff;
$secondary-darkest: #00ddf1;

$tertiary: #ff8b23;	// Main Tertiary color */
$tertiary-lightest: #ffbc80;
$tertiary-lighter: #ffa24f;
$tertiary-darker: #ff7800;

$complement: #ff2e23;	// Main Complement color */
$complement-lightest: #ff8680;
$complement-lighter: #ff584f;
$complement-darker: #ff0d00;

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
$grey-dark: $foot-grey;
$grey-light: $woolwhite;
$link: $dark-purple;
$widescreen-enabled: false;
$fullhd-enabled: false;
$hr-background-color: $grey-light;

// Update some of Bulma's component variables
$body-background-color: $off-white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
// Import only what you need from Bulma
$footer-background-color: $off-white;


// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$font-primary: 'Nunito', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

$show-home-image: true;
$home-image: url('../assets/images/background.jpg');
$portrait-image: url('../assets/images/portrait.jpg');
$portrait_small-image: url('../assets/images/portrait_small.jpg');
$portrait-alt-image: url('../assets/images/portrait-alt.jpg');
$background-opacity: 0.85;

$nav-items: 6;

@mixin easeOut {
  transition: all .4s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#home {
      height: 100vh;
      width: 100vw;
      background-image: $home-image;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0 0 7rem; // FIXME: baggrund går under screen 100vh
      padding: 0;
      clip-path: polygon(0% 88%, 24% 99%, 100% 85%, 100% 0%, 0% 0%);

      &::after {
        background-color: rgba($foot-grey, $background-opacity);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
      }
    }

    &#projects {
      height: 100vh;
      width: 100vw;
      background-image: $home-image;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0 0 7rem; // FIXME: baggrund går under screen 100vh
      padding: 0;
      clip-path: polygon(0% 88%, 76% 99%, 100% 85%, 100% 0%, 0% 0%);

      &::after {
        background-color: rgba($foot-grey, $background-opacity);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
      }
    }
  }
}

::selection {
  background: lighten($primary, 20); /* WebKit/Blink Browsers */
}

.colored::selection {
  color: $off-white;
}

br,
img,
i {
  user-select: none;
}

section {
  // margin: 0 0 7rem;
  padding: 0 0 7rem;

  .container {
    margin: 0 auto;
    width: 55%;
    .centered {
      text-align: center;
    }
  }
}

.even-transition,
.odd-transition {
  // margin: 0 0 7rem;
  padding: 0 0 7rem;
}

.even-transition {
  background-color: darken($foot-grey, 5);
  color: $foot-grey;
  .transition {
    clip-path: polygon(0 0, 74% 100%, 100% 0);
    background-color: $foot-grey;
    color: darken($foot-grey, 5);
    width: 100vw;
    height: 150px;
  }
}

.odd-transition {
  background-color: $foot-grey;
  color: darken($foot-grey, 5);
  .transition {
    clip-path: polygon(0 0, 25% 100%, 100% 0);
    background-color: darken($foot-grey, 5);
    color: $foot-grey;
    width: 100vw;
    height: 150px;
  }
}

.even-background {
  background: $foot-grey;
}

.odd-background {
  background: darken($foot-grey, 5);

}

// Contrast Color
@function set-text-color ($color) {
  @if (lightness($color) > 40) {
    @return $foot-grey;
  } @else {
    @return $off-white;
  }
}

// Media Queries Mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
