// Widescreens
@include mediaXl {
  #main-footer {
    width: 50%;
    margin: auto;

    .footer-item {
      width: 25%;
      margin-bottom: 1.25rem;
    }
  }

  .left-align-md {
    text-align: left;
  }
}

// Desktops & Laptops
@include mediaLg {
  #main-footer {
    width: 50%;
    margin: auto;

    .footer-item {
      width: 25%;
      margin-bottom: 1.25rem;
    }
  }
  .left-align-md {
    text-align: left;
  }
}

//Tablets & Small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
      font-size: 5rem;

      .lg-hr {
        margin-top: 5px;
        width: 50%;
      }
    }
  }

  .left-align-md {
    text-align: center;
  }

  ul.menu-nav,
  div.menu-brand {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 1.5rem;
    background: linear-gradient(rgba(darken($foot-grey, 5), .95), rgba(darken($foot-grey, 5), .95));
  }

  .menu-brand {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: $portrait_small-image;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100px;
      height: 100px;
    }
  }

  #main-footer {
    width: 100%;
    margin: auto;
    height: 218px!important;

    .footer-item {
      width: 50%;
      margin-bottom: 1.25rem;
    }
  }

  .job-container {
    grid-template-areas:
      'job1'
      'job2'
      'job3';
    grid-template-columns: 1fr;
  }
}

// Smartphones
@include mediaSm {
  main {
    h1 {
      // margin-top: 10vh!important;
      font-size: 3rem!important;
    }
    hr {
      border-width: 2px!important;
      height: 4px!important;
    }

    h2 {
      margin-top: 10vh;
      font-size: 1.05rem;
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }

  main#home .icons {
    font-size: .75rem;
  }
  .left-align-md {
    text-align: center!important;
  }

  .portrait-alt {
    width: 150px;
    height: 150px;
  }

  .title {
    font-size: 2rem;
  }

  .btn-large {
    font-size: .6rem;
    font-weight: 700;
  }
}
