@import 'config';
@import 'navbar';
@import 'animation';
@import 'button';
@import './node_modules/bulma/sass/utilities/_all.sass';
@import './node_modules/bulma/sass/grid/columns.sass';

* {
  box-sizing: border-box;
}

body {
  // background: $foot-grey;
  color: set-text-color($foot-grey);
  font-family: $font-secondary;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: $font-primary;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;

    .lg-hr {
      margin-top: 0px;
      height: 8px;
      width: 25vw;
      border: none;
      background-color: set-text-color($foot-grey);
      border-radius: 4px;
    }
  }

  &.sm-heading {
    margin-bottom: 2rem;
  }
}

.colored {
  color: $primary;

  a {
    color: $primary;
  }
}

a {
  color: set-text-color($foot-grey);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

main {
  // position: absolute;
  float: right;
  display: inline-block;
  top: 0;
  padding: 4rem;
  min-height: calc(100vh - 95px);
  text-align: center;
  @include background;
  background: $foot-grey;

  .icons {
    margin-top: 1rem;

    a {
      padding: .4rem;

      &:hover {
        color: $primary;
        @include easeOut;
      }
    }
  }

  .chevron {
    margin-top: 5rem;

    a {
      padding: .4rem;

      &:hover {
        color: $primary;
        @include easeOut;
      }

      .catch {
        animation: catch 5s ease infinite;
      }
    }
  }

  &#home,
  &#projects {
    h1 {
      margin-top: 25vh;
    }
  }
}

.title {
  font-size: 3rem;
}

.subtitle {
  width: 50px;
  border: 2px solid $primary;
  border-radius: 3px;
}

.justify {
  text-align: justify;
}

.portrait-alt {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: solid 3px $primary;
  opacity: 1;
  filter: alpha(opacity=100);
}

.left-align {
  text-align: left;
}

.job-container,
.price-container {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr);

  .job1,
  .price1 {
    grid-area: job1;
  }

  .job2,
  .price2 {
    grid-area: job2;
  }

  .job3,
  .price3 {
    grid-area: job3;
  }

  .job {
    background: lighten($foot-grey, 5);
    padding: 0.5rem;
    border-bottom: solid 5px $primary;
  }

  .price {
    background: $foot-grey;
    padding: 0.5rem;
    border-bottom: solid 5px $primary;
  }
}

#dark {
  background: $foot-grey;
}

@import 'prices';
@import 'mobile';
@import 'footer';
